.App {
  text-align: center;
}

.navbar{
  background-color: white;
  border-bottom: 1px solid #141414;
}

.profileHeader{
  display: flex;
  justify-content: center;
  align-items:center;
  column-gap: 8rem;
  padding: 8rem 2rem;
}

.profileLinks{
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.profileHeader .headerText{
  font-size: 50px;
}

.profileHeader .subHeaderText{
  font-size: 30px;
  color: rgb(110, 110, 110);
}

.headerContent{
  align-items: flex-start;
}

.profileImage{
  height: 15rem;
}

.profileImage img{
  height: 100%;
}
